<!DOCTYPE html>
<html lang="es" class="no-js">
<% include ../partials/site-head %>
<body>
  <header class="nav-head">
    <div class="container">
      <div class="logo">
        <a href="/"><div class="img-logo"></div></a>
      </div>
      <button type="button" class="nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-right">
      <div class="button-x">
        <button type="button" class="nav-collap">
          <span class="icon-bar ib1"></span>
          <span class="icon-bar ib2"></span>
        </button>
      </div>
      <ul class="nav nav-col">
        <li><a class="a1" data-scroll-nav="0">INICIO</a></li>
        <li><a class="a2" data-scroll-nav="1">NOSOTROS</a></li>
        <li><a class="a3" data-scroll-nav="2">SERVICIOS</a></li>
        <li><a class="a4" data-scroll-nav="3">TRABAJOS</a></li>
        <li><a class="a5" data-scroll-nav="4">CONTACTO</a></li>
      </ul>
    </div>
  </header> 
  <div class="all-content"> 
    <section class="section-home" data-scroll-index="0">
      <div class="bg-red"></div>
      <div class="description">
        <h2 class="pc-title">CREATIVIDAD Y DISEÑO PARA CONECTAR MARCAS Y CAMINOS CON LA GENTE</h2>
        <span class="line"></span>
        <p class="pc-subtitle">PERÚCUADROS, IDEAS FUERA DE LO COMUN</p>
      </div>
      <div class="angle-down" data-scroll-goto="1">
        <span class="arrow"></span>
      </div>
    </section>
    <section class="section-us" data-scroll-index="1">
      <div class="container">
        <div class="col-left">
          <div class="description">
            <p><b class="c-f44">PERUCUADROS</b>, empresa que durante años hemos estado trabajando en la constante mejora para hacer de ella una empresa prestigiosa en el sector, además tenemos el mejor activo que es nuestra amplia experiencia en el ramo.<br>Todo nuestro accionar está fundamentalmente dirigido a contribuir en el crecimiento exitoso de nuestros clientes conducido por un equipo humano comprometido con el buen servicio al cliente.</p>
          </div>
          <div class="msj">
            <p>Creamos diseños exclusivos para cada uno de nuestros clientes</p>
          </div>
        </div>
        <div class="idea">
          <img class="i1" src="/assets/img/i1.png" alt="">
          <img class="i2" src="/assets/img/i2.png" alt="">
          <img class="i3" src="/assets/img/i3.png" alt="">
          <img class="i4" src="/assets/img/i4.png" alt="">
          <img class="i5" src="/assets/img/i5.png" alt="">
          <img class="i6" src="/assets/img/i6.png" alt="">
          <img class="i7" src="/assets/img/i7.png" alt="">
          <img class="focus" src="/assets/img/idea.png" alt="">
        </div>
        <div class="idea-resp">
          <img class="img-responsive mg-auto" src="/assets/img/ideares.png" alt="">
        </div>
      </div>
    </section>
    <section class="section-work" data-scroll-index="2">
      <div class="container">
        <ul class="nav nav-work">
          <li>
            <div class="content-work">
              <div class="head-work">
                <span>DISEÑOS</span>
              </div>
              <img class="arrow-b" src="/assets/img/button.png" alt="">
              <div class="body-work">
                <p>LIBROS, MANUALES, MEMORIAS, AFICHES, TRIPTICOS, BROCHURE, DIPTICOS, CARPETAS, TARJETAS, REVISTAS, CARATULAS </p>
              </div>
            </div>
          </li>
          <li>
            <div class="content-work">
              <div class="head-work">
                <span>IMPRESIONES</span>
              </div>
              <img class="arrow-b" src="/assets/img/button.png" alt="">
              <div class="body-work">
                <p>BOND, COUCHÉ, RECICLABLE, ECOLOGICO, KIMBERLY, FOLKOTE Y OTROS</p>
              </div>
            </div>
          </li>
          <li>
            <div class="content-work">
              <div class="head-work">
                <span>PREPRENSA</span>
              </div>
              <img class="arrow-b" src="/assets/img/button.png" alt="">
              <div class="body-work">
                <p>PRUEBAS BESTCOLOR, PLOTERS</p>
              </div>
            </div>
          </li>
          <li>
            <div class="content-work">
              <div class="head-work">
                <span>DIBUJOS</span>
              </div>
              <img class="arrow-b" src="/assets/img/button.png" alt="">
              <div class="body-work">
                <p>PARA MANUALES, GUIAS, TARJETAS, CARATULAS, ETC</p>
              </div>
            </div>
          </li>
          <li>
            <div class="content-work">
              <div class="head-work">
                <span>ACABADOS</span>
              </div>
              <img class="arrow-b" src="/assets/img/button.png" alt="">
              <div class="body-work">
                <p>PLASTIFICADO MATE, BRILLANTE, BARNIZADO Y SECTORIZADO, TAPAS CON RIN METALICO, COCIDO, ENCOLADO CALIENTE, TAPA DURA</p>
              </div>
            </div>
          </li>
          <li>
            <div class="content-work">
              <div class="head-work">
                <span>ILUSTRACIONES</span>
              </div>
              <img class="arrow-b" src="/assets/img/button.png" alt="">
              <div class="body-work">
                <p>PARA MANUALES, GUIAS, TARJETAS, CARATULAS, ETC</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section class="section-work" data-scroll-index="3">
      <div class="container">
        <!--<div class="text-center">
          <h2 class="c-f44">TRABAJOS</h2>
        </div>-->
        <div id="freewall" class="nav-lastwork">
        </div>
      </div>
    </section>

    <div id="modals"></div>
    
    <section class="section-contact" data-scroll-index="4">
      <div class="container">
        <div class="colum-medium">
          <div class="cont-l">
            <div class="border-r"></div>
            <div class="border-b"></div>
            <div class="text-center">
              <h3 class="title">Contactar con los mejores diseñadores</h3>
              <div class="sqrt">
                <span>cuadrosoc@gmail.com</span>
                <span>Telf. 222-4125</span>
                <span>Mov. 99111-456</span>
              </div>
            </div>
          </div>
        </div>
        <div class="colum-medium">
          <div class="cont-r">
            <form class="form-horizontal" role="form" action="http://mailer.blup.space/mailto/perucuadros" method="post">
              <div class="form-group">
                <p>Asunto</p>
                <input type="text" name="subject" placeholder="" class="form-control">
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <p>Email</p>
                    <input type="email" name="email" placeholder="" class="form-control">
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <p>Télefono</p>
                    <input type="text" name="phone" placeholder="" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <p>Mensaje</p>
                <textarea name="body" id="" class="form-control textar"></textarea>
              </div>
              <div class="form-group">
                <div class="pull-right">
                  <button type="submit" class="btn-send">Enviar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
  
  <!-- build:js /assets/js/site-app.bundle.min.js -->
  <script type="text/javascript" src="/assets/js/site-app.bundle.js" charset="utf-8"></script>
  <!-- endbuild -->
</body>
</html>