<div id="mainmenu">
	<ul id="yw0">
		<li><a href="/admin/trabajos">Trabajos</a></li>
		<li><a href="/admin/opciones">Opciones</a></li>
		<li><a href="/admin/logout">Salir</a></li>
		<li><a href="/">ir al sitio</a></li>
	</ul>
</div>