<head>
	<meta charset="utf-8">
	<title>Panel - PeruCuadros</title>

	<!-- build:css /assets/css/admin.bundle.css -->
	<link rel="stylesheet" type="text/css" href="/assets/css/screen.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/forms.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/admin.css">
	<!-- endbuild -->
</head>