<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>PeruCuadros</title>
  <meta name="description" content="Peru Cuadros">
  <link rel=icon href="/assets/img/logowebresp.png" sizes="16x16" type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- build:css /assets/css/site.page.bundle.min.css -->  
  <link rel="stylesheet" href="/assets/css/normalize.css">
  <link rel="stylesheet" href="/assets/css/site.page.css">
  <!-- endbuild -->
</head>